/*
 * Copyright (c) 2022 Gabriel Hansson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Number is the order in which the layer nodes appear
#define DEFAULT 0
#define LOWER 1
#define RAISE 2
#define FUNCTION 3

&sk {
    quick-release;
};

/ {
	behaviors {
		mod_alt_tap_dance: mod_alt_tap_dance {
			compatible = "zmk,behavior-tap-dance";
			label = "MOD_ALT_TAP_DANCE";
			#binding-cells = <0>;
			tapping-term-ms = <400>;
			bindings = <&kp LEFT_GUI>, <&kp LEFT_ALT>;
		};
	};

	conditional_layers {
		compatible = "zmk,conditional-layers";
		tri_layer {
			if-layers = <RAISE LOWER>;
			then-layer = <FUNCTION>;
		};
	};

	//IMPROVEMENT: 
	// Unicode sequency macros are super boilerplatey, can probably be replaced with preprocessor macro
	// https://zmk.dev/docs/behaviors/macros#convenience-c-macro
	// Keeping an eye on https://github.com/zmkfirmware/zmk/issues/232
	// FIX:
	/* 
	macros {
		// ö = U+00D6
		diaeresis_o: diaeresis_o {
			label = "diaeresis_o";
			compatible = "zmk,behavior-macro";
			// Default is 100ms 
			// https://zmk.dev/docs/behaviors/macros#tap-time
			tap-ms = <10>;
			#binding-cells = <0>;
			bindings =
				<&macro_press &kp LSHIFT>, 
				<&macro_press &kp LCTRL>, 
				<&macro_tap &kp U>,
				<&macro_release &kp LSHIFT>, 
				<&macro_release &kp LCTRL>, 
				<&kp N0 &kp N0 &kp D &kp N6 &kp RET>
			;
		};

		// ä = U+00C4
		diaeresis_a: diaeresis_a {
			label = "diaeresis_o";
			compatible = "zmk,behavior-macro";
			tap-ms = <10>;
			#binding-cells = <0>;
			bindings =
				<&macro_press &kp LSHIFT>, 
				<&macro_press &kp LCTRL>, 
				<&macro_tap &kp U>,
				<&macro_release &kp LSHIFT>, 
				<&macro_release &kp LCTRL>, 
				<&kp N0 &kp N0 &kp C &kp N4 &kp RET>
			;
		};

		// å = U+00C5
		ring_a: ring_a {
			label = "ring_a";
			compatible = "zmk,behavior-macro";
			tap-ms = <10>;
			#binding-cells = <0>;
			bindings =
				<&macro_press &kp LSHIFT>, 
				<&macro_press &kp LCTRL>, 
				<&macro_tap &kp U>,
				<&macro_release &kp LSHIFT>, 
				<&macro_release &kp LCTRL>, 
				<&kp N0 &kp N0 &kp C &kp N5 &kp RET>
			;
		};
	};
	*/

	keymap {
		compatible = "zmk,keymap";

		// TEMP: placeholder until nordic letters are functional
		default_layer {
			bindings = <
				&kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P 
				&kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &none
				&kp Z &kp X &kp C &kp V &kp B &kp N &kp M &none &none &kp LEFT_META
				&sk LEFT_CONTROL &mo RAISE &mo LOWER &kp SPACE &kp RSHIFT &mod_alt_tap_dance
			>;
		};

		/* 
			default_layer {
				bindings = <
					&kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P 
					&kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &diaeresis_o
					&kp Z &kp X &kp C &kp V &kp B &kp N &kp M &ring_a &diaeresis_a &kp LEFT_META
					&kp LEFT_CONTROL &mo RAISE &mo LOWER &kp SPACE &kp RSHIFT &mod_alt_tap_dance
				>;
			};
		*/

		lowered_layer {
			bindings = <
				&kp EXCLAMATION &kp AT_SIGN &kp HASH &kp DOLLAR &kp AMPERSAND &none &kp PERIOD &kp COMMA &none &none
				&kp ESC &kp BSPC &kp TAB &kp RET &none &kp LEFT_ARROW &kp DOWN_ARROW &kp UP_ARROW &kp RIGHT_ARROW &none
				&kp QUESTION &kp GRAVE &kp SINGLE_QUOTE &kp DOUBLE_QUOTES &kp TILDE &none &kp COLON &kp SEMICOLON &out OUT_TOG &bt BT_CLR
				&trans &trans &trans &trans &trans &trans
			>;
		};

		raised_layer {
			bindings = <
				&kp KP_LEFT_PARENTHESIS &kp LEFT_BRACKET &kp LEFT_BRACE &kp LESS_THAN &none &kp KP_PLUS &kp MINUS &kp ASTERISK &kp CARET &kp EQUAL
				&kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
				&kp KP_RIGHT_PARENTHESIS &kp RIGHT_BRACKET &kp RIGHT_BRACE &kp GREATER_THAN &none &kp BACKSLASH &kp PIPE &kp SLASH &kp PERCENT &kp UNDERSCORE
				&trans &trans &trans &trans &trans &trans
			>;
		};

		function_layer {
			bindings = <
				&kp CAPSLOCK &kp SCROLLLOCK &kp K_VOLUME_DOWN &kp K_VOLUME_UP &kp K_MUTE &kp HOME &kp PAGE_DOWN &kp PAGE_UP &kp END &kp K_CONTEXT_MENU
				&kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10
				&kp F11 &kp F12 &kp K_PREVIOUS &kp K_NEXT &kp K_PLAY_PAUSE &kp PRINTSCREEN &kp C_BRIGHTNESS_INC &kp C_BRIGHTNESS_DEC &kp INSERT &kp DELETE
				&trans &trans &trans &trans &trans &trans
			>;
		};
	};
};
