# Copyright (c) 2022 Gabriel Hansson
# SPDX-License-Identifier: MIT

if SHIELD_BORNE_LEFT
	config ZMK_KEYBOARD_NAME 
		default "Borne Keyboard"
	config ZMK_SPLIT_ROLE_CENTRAL
		default y
endif

if SHIELD_BORNE_LEFT || SHIELD_BORNE_RIGHT
	config ZMK_SPLIT
		default y
endif
