# Copyright (c) 2022 Gabriel Hansson
# SPDX-License-Identifier: MIT
# TODO: Not sure why I need this

# https://zmk.dev/docs/development/new-shield
config SHIELD_BORNE_LEFT
	# argument in weston build command
    def_bool $(shields_list_contains,borne_left)
	depends on SOC_NRF52840_QIAA

config SHIELD_BORNE_RIGHT
    def_bool $(shields_list_contains,borne_right)
	depends on SOC_NRF52840_QIAA